doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        // <base href="/">
        title Golos.io ios
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="copyright" content="")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="robots" content="all")
        // Template Basic Images Start
        // Template Basic Images End
        // Custom Browsers Color Start
        meta(name="theme-color" content="#0d0d0f")
        // Custom Browsers Color End
        // Preloads
        link(rel="preload" href="css/main.min.css" as="style")
        link(rel="preload" href="js/scripts.min.js" as="script")
        link(rel="preload" href="fonts/roboto.woff2" as="font")
        // Preloads End
        link(rel="stylesheet" href="css/main.min.css")
    body.isHome
        header.page-header
            a.logo__wrapper(href="#")
                img.logo__img(src="img/logo.png" alt="Golos.io" width="90" height="30")
            span.page-header__l10n RU
        main
            section.be-in-touch
                .be-in-touch__wrapper
                    .main-message
                        h1.message__header
                            | Golos.io активно работает над выпуском приложения блог-платформы будущего теперь и на iOs платформе.
                        p.message__description
                            | Блог-платформа Golos.io давно работает на web и Android платформах.
                            br
                            | Теперь настал черед порадовать и пользователей iOs.
                    h2.be-in-touch__title Будь на связи
                    strong.message__header Приложение Golos.io на iOs появится уже совсем скоро!
                    p.message__description Будь в числе первых пользователей с возможностью протестировать приложение.
                    form.be-in-touch__form(action="")
                        div.be-in-touch__checkbox-wrapper
                            label.be-in-touch__label(for="want-test")
                                input.be-in-touch__checkbox.visually-hidden(type="checkbox" name="" id="want-test")
                                span.be-in-touch__checkbox-indicator
                                | Хочу тестировать. Добавьте меня в список тестировщиков альфа версии приложения
                            label.be-in-touch__label(for="want-message")
                                input.be-in-touch__checkbox.visually-hidden(type="checkbox" name="" id="want-message")
                                span.be-in-touch__checkbox-indicator
                                | Сообщите мне о выходе приложения.
                        .be-in-touch__email-wrapper
                            input.be-in-touch__email(type="email" name="" id="" placeholder="Email")
                            button.be-in-touch__send-button(type="submit") Отправить
                .be-in-touch__img-wrapper
                    picture
                        source(media="(min-width: 1024px)" srcset="img/group-dk.png 1x, img/group-dk@2x.png 2x, img/group-dk@3x.png 3x")
                        source(srcset="img/group@2x.png 2x, img/group-dk@3x.png 3x")
                        img(src="img/group.png", alt="" height="734")
            section.steps
                .steps__container
                    - const steps = ['Подпишись', 'Получи тестовую версию', 'Узнай первым о релизе приложения']
                    each val, index in steps
                        .steps__step
                            img(src=`img/logo/icon-instr-${index + 1}.svg`, alt="" width="76" height="76")
                            p.steps__step-header=`Шаг ${index + 1}`
                            p.steps__step-description=val
            section.about-golos
                h2.about-golos__title Golos.io
                strong.about-golos__description Место, где можно самовыражаться и получать поддержку. Рассказывайте о том, что важно для вас. Открывайте для себя новое и интересное.
                .about-golos__appeals
                    - const appeals = [{ title: 'В интересах каждого', appeal: 'Писать можно обо всем на свете — расскажите о ракетостроении или выложите фотографию любимого кота.' }, { title: 'Самовыражайся', appeal: 'Рассказывай о том, что важно для тебя. Публикуй статьи, стихи, фотографии, видео, аудиозаписи, что угодно.' }, { title: 'Будь собой', appeal: 'Создавай блог таким, как тебе нравится. Голосуй за нужные посты. Подписывайся на волнующие тебя темы и открывай новые.' }, { title: 'Находи друзей по интересам', appeal: 'Общайся с миллионами людей в миллионах сообществ. Исследуй миллионы разных #тегов.' }, { title: 'Как это работает?', appeal: 'Golos.io — это блог-платформа на блокчейне , где пользователи могут публиковать записи и голосовать за понравившиеся статьи. Голосуя за понравившуюся статью ты отдаешь свой «голос» за нее.' }]
                    each val in appeals
                        .about-golos__appeal
                            h3.about-golos__appeal-title=val.title
                            p.about-golos__appeal-description=val.appeal
                .about-golos__img
            section.screenshots
                h2.screenshots__title Скриншоты
                .screenshots__wrapper
            section.android
            section.android-reviews
        footer.page-footer
            include _templates/social.pug
            p.page-footer__copyrights  IT, OOO. All rights reserved
        script(src="js/scripts.min.js")
